.Header {
  margin-top: 2em;
  width: 800px;
  height: 100px;
  background: #3a3a3b;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1em dotted gold;
  border-radius: 4em;
}

header p {
  color: white;
  font-family: 'Meie Script', cursive;
  font-size: 32px;
  font-weight: lighter;
  margin-left: 20px;
}

.right-answer-header {
  border-color: #00c800;
}

.wrong-answer-header {
  border-color: #c80000;
}