.Image {
  height: 400px;
  /*border: 1em solid #2e2e2e;*/
  border-radius: 1em;
  margin: 2rem;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.right-answer-image {
  /*border-color: #00c800;*/
  box-shadow:0 0 50px #00c800;
}

.wrong-answer-image {
  /*border-color: #c80000;*/
  box-shadow:0 0 50px #c80000;
}