body {
  font-family: 'Roboto', sans-serif;
  text-shadow: #ffffff 
}

span {
  margin: 0 10px;
}

.Container {
  width: 60%;
  margin: 60px auto;
  font-size: 20px;
  font-family: "Segoe UI", sans-serif;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.7);
  background: rgba(218, 218, 218, 0.212);
  border-radius: 20px;
}

.Header, .Neck {
  display: flex;
  background: rgba(185, 185, 185, 0.51);
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.Header {
  border-radius: 20px 20px 0 0;
}
.Button:focus{
  background-color: red;
}

.Score, .Balance, .FreeHint, .PaidHint {
  /*color: #e5e5e5;*/
  width: 15%;
  background: rgba(218, 218, 218, 0.212);
}

.Score {
  border-radius: 20px 0 0 0;
  background: rgba(185, 185, 185, 0)
}

.Balance {
  border-radius: 0 20px 0 0;
  background: rgba(185, 185, 185, 0)
}

.Balance, .PaidHint, .FreeHint {
  display: flex;
  justify-content: center;
}

.FreeHint, .PaidHint {
  align-items: center;
  color: white;
  background: rgba(185, 132, 0, 0.7);
  font-size: inherit;
  border: none;
}

.FreeHint:disabled, .FreeHint:disabled:hover, .Button:disabled, .Button:disabled:hover {
  background: rgba(165, 165, 165, 0.7);
  cursor: not-allowed;
}

.FreeHint:hover, .PaidHint:hover {
  cursor:pointer;
  background: rgb(238, 198, 0);
  color: rgb(255, 255, 255);
  text-shadow: 2px 0 #000000;
}

.Title, .StreakBar {
  width: 70%;
}

.ImageContainer {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:0 0 1px rgba(0, 0, 0, 0.5) inset;
}

.Image img {
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 400px;
  max-width: 700px;
}

.three-images-container {
  display: flex;
  justify-content: space-between;
}

.three-images-container img {
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 200px;
  width: 160px;
  margin: 2%;
  cursor: pointer;
  box-sizing: border-box;
}

.three-images-hover:hover {
 border: 3px solid grey;
}

.three-images-container .correct-img {
  border: 4px solid green;
  box-shadow:0 0 10px rgba(43, 167, 12, 0.9);
}

.disabled-image {
  cursor: not-allowed !important;
  opacity: 0;
  /*filter: alpha(opacity=50) !important;*/
}
.disabled-image:hover {
  border: 0 solid grey;
}

.question-container  {
  padding-bottom: 40px;
}

.question-container h3 {
  text-align: center;
}

.StreakBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.StreakDot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 10px;
}

.right {
  background: green;
  box-shadow:0 0 10px green;
}

.wrong {
  background: red;
  box-shadow:0 0 10px red;
}

.Answers{
  height: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Button {
  text-align: center;
  line-height: 22px;
  outline: none;
  box-shadow: 0 10px 14px -7px #868686;
  background-color: rgba(249, 249, 249, 0.5);
  border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#242424;
  padding:13px 32px;
  text-decoration:none;
  text-shadow:0 1px 0 #ffffff;
  box-shadow: inset 0 -10px 10px -10px #757575bd;
  font-family: 'PT Mono', monospace;
  color: rgba(0, 0, 0, 0.747) ;
  width: 600px;
  height: 50px;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
}

.Button:hover {
  outline: none;
  background-color: rgba(233, 233, 233, 0.9);
}

.Button:disabled ,.Button:disabled:hover{
  background-color: rgba(233, 233, 233, 0);
  color: rgba(233, 233, 233, 0);
  text-shadow: none;
  border: none;
  box-shadow: none;
  cursor: inherit;
}

.Button:active {
  border-color: none;
  position:relative;
  top:1px;
}

.right-image {
  box-shadow:0 0 50px green;
}

.wrong-image {
  box-shadow:0 0 50px red;
}

.right-button, .wrong-button {
  color: rgba(255, 255, 255, 0.733);
}

.right-button, .right-button:hover {
  border-color:rgba(27, 148, 27, 0.692);
  background-color: rgba(27, 148, 27, 0.692);
}

.wrong-button, .wrong-button:hover {
  border-color:rgba(223, 12, 12, 0.651);
  background-color: rgba(223, 12, 12, 0.651);
}